*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: -webkit-image-set('./assets/img/fondo/fondo.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33333369;
  width: 100%;
  height: 100vh;
}
.contentl{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 20%;
  border-radius: 7px;
  padding: 3rem 3rem;
}
.navlogin{
  position: absolute;
  top: 0;
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navlogin img{
  width: 15%;
}

.contentl h1{
  text-align: center;
}

.contentl input{
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  background-color: none;
  border: 1px solid #333;
}

.contentl .button{
  text-align: center;
}
.contentl button{
  background-color: #82C0D9;
  border: 1px solid #333;
  color: azure;
  border-radius: 12px;
  height: 2rem;
  width: 5rem;
}
.contentl button:hover{
  background-color: aliceblue;
  color: #333;
  transition: 1s;
  transform: scale(1.01);
}