*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: -webkit-image-set('./assets/img/fondo/fondo.jpg');
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contentLogin{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #33333369;
  width: 100%;
  height: 100vh;
}
.contentl{
  background-color: #D9D9D9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 40%;
  width: 20%;
  border-radius: 7px;
  padding: 3rem 3rem;
}
.navlogin{
  position: absolute;
  top: 0;
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navlogin img{
  width: 15%;
}

.contentl h1{
  text-align: center;
}

.contentl input{
  width: 100%;
  padding: 7px;
  border-radius: 7px;
  background-color: none;
  border: 1px solid #333;
}

.contentl .button{
  text-align: center;
}
.contentl button{
  background-color: #82C0D9;
  border: 1px solid #333;
  color: azure;
  border-radius: 12px;
  height: 2rem;
  width: 5rem;
}
.contentl button:hover{
  background-color: aliceblue;
  color: #333;
  transition: 1s;
  transform: scale(1.01);
}

/*Estilos menu admin*/
.contentAdmin{
  background-color: #33333369;
  width: 100%;
  height: 100vh;
}

.navAdmin{
  background-color: #D9D9D9;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navAdmin img{
   width: 10%;
   margin: 1rem 2rem;
}

.navAdmin .navbar{
  margin: 1rem 2rem;
}
.navbar ul{
  list-style: none;
  display: flex;

}

.navbar ul li{
  margin: 1rem;
}
.navbar ul a{
  text-decoration: none;
  color: #333;
}
.navAdmin ul button{
  background-color: #D9D9D9;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.navAdmin ul button:hover{
  text-decoration: underline;
}
.navbar ul a:hover{
  text-decoration: underline;
}

.contentAdmin1{
  display: flex;
  flex-direction: column;
}

.minicards{
  display: flex;
  justify-content: space-evenly;
  margin: 2rem 2rem;
}

.minicards .card1{
  background-color: aliceblue;
  padding: 0.5rem 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.minicards .card1 img{
  width: 40%;
  margin-right: 0.7rem;
}

.textcard h3{
  font-size: 14px;
}

.tablausers{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.barrabusqueda{
  width: 100%;
  padding: 1rem 6.5rem;
  justify-content: space-between;
}
.barrabusqueda1{
  width: 100%;
  padding: 3rem 6.5rem 0 8.5rem;
  justify-content: space-between;
}
.textBarraBusqueda{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textBarraBusqueda h4{
  font-size: 26px;
  color: aliceblue;
}

.barrabusqueda button{
  padding: 9px 20px;
  border-radius: 7px;
  background-color: #B3E0F2;
  border: 1px solid aliceblue;
}

.barrabusqueda button:hover{
  transition: 0.7s;
  transform: scale(1.1);
  cursor: pointer;
}


.barrabusqueda input{
  background-color: #F2F2F2;
  width: 81%;
  height: 40px;
  border-radius: 7px;
  margin: 1rem 3rem;
  border: 1px solid #333;
  padding: 12px;
}

.barrabusqueda1 input{
  background-color: #F2F2F2;
  width: 88%;
  height: 40px;
  border-radius: 7px;
  margin: 1rem 3rem;
  border: 1px solid #333;
  padding: 12px;
}

.tablausersData{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tablausersData table{
  background-color: #F2F2F2;
  width: 95%;
  margin: 1rem 8.5rem;
  border-radius: 12px;
  padding: 1rem 2rem;
}
.tablausersData table th{
  padding-right: 40px;
  border-bottom: 1px solid #333;
}

table .options{
  padding: 0.5rem 0.5rem ;
  display: flex;
  justify-content: center;
  align-items: center;
}
table .options .actualizar{
  background-color: #B3E0F2;
  padding: 5px;
  margin-right: 12px;
  border-radius: 7px;
  text-decoration: none;
  color: #333;
  height: 30%;
  border: 1px solid #F2F2F2;
}

.actualizar:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s; 
}

table .options .inactivar{
  background-color: #F2B3B3;
  padding: 5px;
  margin-right: 12px;
  border-radius: 7px;
  height: 30px;
  border: 1px solid #F2F2F2;
}
.inactivar:hover{
  transform: scale(1.1);
  cursor: pointer;
  transition: 0.4s; 
}

/* registers*/
.contentAdmin2{
  height: 84%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contentAdmin2 .registerUser{
  background-color: #F2F2F2;
  border-radius: 7px;
  width: 50%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.contentAdmin2 .registerUser .img1{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
}
.contentAdmin2 .registerUser1 .img1{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}
.registerUser .contenedorFormulario{
  height: 25rem;
  display: flex;
}

.registerUser1 .contenedorFormulario1{
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center ;
}

.contentAdmin2 .registerUser1{
  background-color: #F2F2F2;
  border-radius: 7px;
  width: 25%;
  height: 80%;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}

.contenedorFormulario .input1{
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.contenedorFormulario1 .input1{
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
}

.contenedorFormulario1 .input1 input, select{
  padding: 3%;
}

.input1 input, select{
  height: 10%;
  border: 1px solid #333;
  border-radius: 7px;
  margin-bottom: 12px;
  padding-left: 5px;
}

.input1 select option{
  background-color: #F2F2F2;
}

/*boton de adjuntar archivos*/
.file-btn{
  width: 100%;
  height: 30%;
  font-size: 18px;
  font-weight: 500;
  display:  flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #82C0D9;
  background-color: #fff;
  border: 1.5px dashed #82C0D9;
  border-radius:  20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-btn:hover{
  color: #82C0D9;
  background-color: #fff;
}

.file-btn span{
  width: 50px;
  height: 50px;
  font-size: 30px;
  color: #82C0D9;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  background-color: #fff;
}

.select-file{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  margin-top: 20px;
}

.select-file p{
  font-size: 13px;
  font-weight: 500;
  margin-left: 15px;
}

.select-file button{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #82C0D9;
  background-color: transparent;
  border:  none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-file button:hover{
  color: #fff;
  background-color: #82C0D9;

}
.preview-container{
   display:flex;
   flex-direction:column;
   align-items:center;
   overflow-y: scroll;
   height:100px;
}

.preview-img{
   width: 100%;
   object-fit:cover;
   border-radius:10px;
   border:2px solid #ccc;
}

.buttonregister{
  margin-left: 44%;
  height: 12%;
  background-color: #B3E0F2;
  width: 17%;
  border: 1px solid #F2F2F2;
  border-radius: 7px;
}

.buttonregister:hover{
  transition: .5s;
  transform: scale(0.95);
  cursor: pointer;
}

.contentRegisterEstado{
  background-color: tomato;
}
.contentFormEstado{
  background-color: aqua;
}